<section class="about-section section" id="about">
  <div class="container about-wrapper">
    <h2 class="visually-hidden">About me</h2>

    <div class="about-container-title">
      <div class="about-container-title-text">
        <h3 class="about-header-title">
          I work with people all over the world to create impressive and
          <span class="functional">functional</span>
          <span class="websites">websites</span> that reflect each client's
          unique personality.
        </h3>
      </div>

      <picture>
        <source
          class="about-image"
          media="(min-width: 1440px)"
          srcset="
            ./img/about/about-desc-min.png    1x,
            ./img/about/about-desc@2x-min.png 2x
          "
          width="680"
          height="700"
        />
        <source
          class="about-image"
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            ./img/about/about-tab-min.png    1x,
            ./img/about/about-tab@2x-min.png 2x
          "
          width="704"
          height="700"
        />
        <source
          class="about-image"
          media="(max-width: 767px)"
          srcset="
            ./img/about/about-mob-min.png    1x,
            ./img/about/about-mob@2x-min.png 2x
          "
          width="343"
          height="500"
        />
        <img
          class="about-image"
          src="./img/about/about-mob-min.png"
          alt="about me"
          width="343"
          height="500"
        />
      </picture>
    </div>

    <!-- Accordeon -->

    <div class="about-containar-accordion">
      <ul class="accordion-container-about">
        <li class="ac">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger about-text-btn">
              About me
              <svg class="about-arrow arrow-down" width="24" height="16">
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
              <svg class="about-arrow arrow-up" width="24" height="16">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="ac-text">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger about-text-btn">
              Role
              <svg class="about-arrow arrow-down" width="24" height="16">
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
              <svg class="about-arrow arrow-up" width="24" height="16">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">Frontend development</p>
            <p class="ac-text">HeadlessCMS,Wordpress</p>
            <p class="ac-text">Blender(enjoy)</p>
          </div>
        </li>

        <li class="ac">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger about-text-btn">
              Education
              <svg class="about-arrow arrow-down" width="24" height="16">
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
              <svg class="about-arrow arrow-up" width="24" height="16">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
            <p class="ac-text">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
            <p class="ac-text">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </div>
        </li>
      </ul>
    </div>

    <!-- Swiper -->
    <div class="about-swipper-wrapper">
      <div class="about-swiper-container">
        <ul class="swiper-wrapper about-swiper-list">
          <li class="swiper-slide about-swiper-items"><p>HTML/CSS</p></li>
          <li class="swiper-slide about-swiper-items"><p>JavaScript</p></li>
          <li class="swiper-slide about-swiper-items"><p>React</p></li>
          <li class="swiper-slide about-swiper-items"><p>Node.js</p></li>
          <li class="swiper-slide about-swiper-items"><p>React Native</p></li>
          <li class="swiper-slide about-swiper-items"><p>Soft Skills</p></li>
          <li class="swiper-slide about-swiper-items"><p>Git</p></li>
        </ul>
      </div>
      <div class="swiper-button-next">
        <button type="button" class="about-button-next">
          <svg class="about-next-arrow" width="28" height="28">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
