<section class="about-me section">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>

    <div class="container-title">
      <div class="container-title-text">
        <h3 class="header-title">
          I work with people all over the world to create impressive and
          <span class="functional">functional</span>
          <span class="websites">websites</span> that reflect each client's
          unique personality.
        </h3>
      </div>
      <img class="about-image" src="./img/about/about.jpg" alt="about me" />
    </div>

    <!-- Accordeon -->

    <div class="container-description"></div>

    <div class="container-swiper"></div>
  </div>
</section>
