<section class="my-covers section" id="covers"> 
  <div class="container covers-second">
        <h2 class="visually-hidden">Covers</h2>
      <ul class="covers-item">
        <li class="covers-list">
          <img
            class="my-covers-item-img"
            srcset="
              ./img/covers/covers-rect10.jpg 282w,
              ./img/covers/covers-rect10@2x.jpg 544w"
            sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
            src="./img/covers/covers-rect10.jpg"
            alt="Power">
        </li>
        <li class="covers-list">
          <img
            class="my-covers-item-img"
            srcset="
              ./img/covers/covers-rect7.jpg 282w,
              ./img/covers/covers-rect7@2x.jpg 544w"
            sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
            src="./img/covers/covers-rect7.jpg"
            alt="Mimino">
        </li>
        <li class="covers-list">
          <img
            class="my-covers-item-img"
            srcset="
              ./img/covers/covers-rect6.jpg 282w,
              ./img/covers/covers-rect6@2x.jpg 544w"
            sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
            src="./img/covers/covers-rect6.jpg"
            alt="Chego">
        </li>
        <li class="covers-list">
          <img
            class="my-covers-item-img"
            srcset="
              ./img/covers/covers-rect11.jpg 282w,
              ./img/covers/covers-rect11@2x.jpg 544w"
            sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
            src="./img/covers/covers-rect11.jpg"
            alt="Finances">
        </li>
        <li class="covers-list">
          <img
            class="my-covers-item-img"
            srcset="
              ./img/covers/covers-rect1.jpg 282w,
              ./img/covers/covers-rect1@2x.jpg 544w"
            sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
            src="./img/covers/covers-rect1.jpg"
            alt="StarlightStudio">
        </li>
        <li class="covers-list">
          <img
            class="my-covers-item-img"
            srcset="
              ./img/covers/covers-rect8.jpg 282w,
              ./img/covers/covers-rect8@2x.jpg 544w"
            sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
            src="./img/covers/covers-rect8.jpg"
            alt="Ukrainian">
        </li>
        <li class="covers-list">
          <img
            class="my-covers-item-img"
            srcset="
              ./img/covers/covers-rect9.jpg 282w,
              ./img/covers/covers-rect9@2x.jpg 544w"
            sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
            src="./img/covers/covers-rect9.jpg"
            alt="Frame">
        </li>
        <li class="covers-list">
          <img
            class="my-covers-item-img"
            srcset="
              ./img/covers/covers-rect4.jpg 282w,
              ./img/covers/covers-rect4@2x.jpg 544w"
            sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
            src="./img/covers/covers-rect4.jpg"
            alt="Energy">
        </li>
        <li class="covers-list">
          <img
            class="my-covers-item-img"
            srcset="
              ./img/covers/covers-rect5.jpg 282w,
              ./img/covers/covers-rect5@2x.jpg 544w"
            sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
            src="./img/covers/covers-rect5.jpg"
            alt="Fresh">
        </li>
        <li class="covers-list">
          <img
            class="my-covers-item-img"
            srcset="
              ./img/covers/covers-rect12.jpg 282w,
              ./img/covers/covers-rect12@2x.jpg 544w"
            sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
            src="./img/covers/covers-rect12.jpg"
            alt="Girl">
        </li>
      </ul>
    </div>
  </section>
  

