<section class="faq-section section" id="faq">
  <div class="container">
    <h2 class="title-faq">FAQ</h2>
    <ul class="accordion-container vertical-line">
      <li class="ac item-one">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            What programming languages are most often used in your project?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac item-two">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            What are the deadlines for <br class="responsive-break" />
            the project?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac item-three">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            What payment methods do you accept?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="ac item-four">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            How can I contact you?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac item-five">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Do you provide advice <br class="responsive-break" />
            or support?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac item-six">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            What does the process of developing a software
            <br class="responsive-breaks" />
            product look like from idea to implementation?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
