<section class="faq-section section" id="faq">
  <div class="container">
    <h2>FAQ</h2>
    <ul class="accordion-container">
      <li class="ac" id="li-fag-1">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="btn-text-fag-1">
            What programming languages are most often used in your project?
            <img
              class="arrow arrow-down"
              src="../img/svg/arrow-down.svg"
              alt="arrow-down"
              width="20px"
            />
            <img
              class="arrow arrow-up"
              src="../img/svg/arrow-up.svg"
              alt="arrow-up"
              width="20px"
              style="display: none"
            />
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text" id="text-faq">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac" id="li-fag-2">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="btn-text-fag-2">
            What are the deadlines for the project?
            <img
              class="arrow arrow-down"
              src="../img/svg/arrow-down.svg"
              alt="arrow-down"
              width="20px"
            />
            <img
              class="arrow arrow-up"
              src="../img/svg/arrow-up.svg"
              alt="arrow-up"
              width="20px"
              style="display: none"
            />
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text" id="text-faq">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac" id="li-fag-3">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="btn-text-fag-3">
            What payment methods do you accept?
            <img
              class="arrow arrow-down"
              src="../img/svg/arrow-down.svg"
              alt="arrow-down"
              width="20px"
            />
            <img
              class="arrow arrow-up"
              src="../img/svg/arrow-up.svg"
              alt="arrow-up"
              width="20px"
              style="display: none"
            />
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text" id="text-faq">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="ac" id="li-fag-4">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="btn-text-fag-4">
            How can I contact you?
            <img
              class="arrow arrow-down"
              src="../img/svg/arrow-down.svg"
              alt="arrow-down"
              width="20px"
            />
            <img
              class="arrow arrow-up"
              src="../img/svg/arrow-up.svg"
              alt="arrow-up"
              width="20px"
              style="display: none"
            />
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text" id="text-faq">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac" id="li-fag-5">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="btn-text-fag-5">
            Do you provide advice or support?
            <img
              class="arrow arrow-down"
              src="../img/svg/arrow-down.svg"
              alt="arrow-down"
              width="20px"
            />
            <img
              class="arrow arrow-up"
              src="../img/svg/arrow-up.svg"
              alt="arrow-up"
              width="20px"
              style="display: none"
            />
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text" id="text-faq">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac" id="li-fag-6">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="btn-text-fag-6">
            What programming languages are most often used in your project?
            <img
              class="arrow arrow-down"
              src="../img/svg/arrow-down.svg"
              alt="Expand"
            />
            <img
              class="arrow arrow-up"
              src="../img/svg/arrow-up.svg"
              alt="arrow-up"
              width="20px"
              style="display: none"
            />
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text" id="text-faq">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
