<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <img src="" alt="Photo of Jefferson" class="header__logo-img" width="80" height="80">
      <p class="header__log-para">jefferson*</p>
    </div>
    <button class="header__menu-btn">
      <span class="header__menu-btn-span">Menu</span>
      <svg class="header__burger-icon" width="28" height="28">
        <use href=""></use>
      </svg>
      <div class="header__order-link-container">
        <a href="" class="header__order-link"></a>
      </div>
      <div class="header__backdrop">
        <button class="header__menu-close-btn">
          <svg class="header__close-icon" width="28" height="28">
            <use href=""></use>
          </svg>
        </button>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">about me</li>
            <li class="header__nav-item">benefits</li>
            <li class="header__nav-item">projects</li>
            <li class="header__nav-item">faq</li>
          </ul>
        </nav>
      </div>
    </button>
  </div>
</header>