<section class="section-hero">
    <div class="-hero-container">
        <h1 class="hero__title">Hello.<br /> I’m Fullstack developer Lloyd Jefferson.</h1>
        <ul class="hero__social-links-list">
            <li class="hero__social-links-item">
                <a href="https://www.instagram.com/goitclub/" class="hero__social-link">ig</a>
            </li>
            <li class="hero__social-links-item">
                <a href="https://www.facebook.com/goITclub/" class="hero__social-link">fb</a>
            </li>
            <li class="hero__social-links-item">
                <a href="https://www.youtube.com/c/GoIT" class="hero__social-link">yt</a>
            </li>
            <li class="hero__social-links-item">
                <a href="https://github.com/Iryna-Pavlyk/AmazinG_8" class="hero__social-link">gh</a>
            </li>
            <li class="hero__social-links-item hero__email-item">
                <address class="hero__address">
                    <a href="mailto:lloydjefferson@gmail.com" class="hero__email-link"></a>
                </address>
            </li>
        </ul>
    </div>
</section>