<section class="section section-projects">
  <div class="container">
    <h5 class="projects-title">projects</h5>
    <div class="slider projectsSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide1">
            <div class="left-block">
              <ul class="instruments-list">
                <li class="instruments-list-item">#react</li>
                <li class="instruments-list-item">#js</li>
                <li class="instruments-list-item">#node js</li>
                <li class="instruments-list-item">#git</li>
              </ul>
              <h3 class="left-block-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                target="_blank"
                href="https://github.com/Iryna-Pavlyk/AmazinG_8"
                class="see-project-link"
                >See project</a
              >
            </div>
            <div class="right-block">
              <!-- <img
              src="../img/projects/prj-tab-desc1.jpg"
              alt="project"
              class="right-block-img"
            /> -->
              <img
                srcset="
                  ./img/projects/prj-mob1-min.jpg      311w,
                  ./img/projects/prj-mob1@2x-min.jpg   622w,
                  ./img/projects/prj-tab-desc1.jpg     614w,
                  ./img/projects/prj-tab-desc1@2x.jpg 1228w
                "
                sizes="(min-width: 1440px) 614px, (min-width: 320px) 311px"
                src="./img/projects/prj-mob1-min.jpg"
                alt="Book App"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide1">
            <div class="left-block">
              <ul class="instruments-list">
                <li class="instruments-list-item">#react</li>
                <li class="instruments-list-item">#js</li>
                <li class="instruments-list-item">#node js</li>
                <li class="instruments-list-item">#git</li>
              </ul>
              <h3 class="left-block-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                target="_blank"
                href="https://github.com/Iryna-Pavlyk/AmazinG_8"
                class="see-project-link"
                >See project</a
              >
            </div>
            <div class="right-block">
              <img
                srcset="
                  ./img/projects/prj-mob2-min.jpg      311w,
                  ./img/projects/prj-mob2@2x-min.jpg   622w,
                  ./img/projects/prj-tab-desc2.jpg     614w,
                  ./img/projects/prj-tab-desc2@2x.jpg 1228w
                "
                sizes="(min-width: 1440px) 614px, (min-width: 320px) 311px"
                src="./img/projects/prj-mob2-min.jpg"
                alt="Book App"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide1">
            <div class="left-block">
              <ul class="instruments-list">
                <li class="instruments-list-item">#react</li>
                <li class="instruments-list-item">#js</li>
                <li class="instruments-list-item">#node js</li>
                <li class="instruments-list-item">#git</li>
              </ul>
              <h3 class="left-block-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                target="_blank"
                href="https://github.com/Iryna-Pavlyk/AmazinG_8"
                class="see-project-link"
                >See project</a
              >
            </div>
            <div class="right-block">
              <!-- <img
              src="../img/projects/prj-tab-desc1.jpg"
              alt="project"
              class="right-block-img"
            /> -->
              <img
                srcset="
                  ./img/projects/prj-mob3-min.jpg      311w,
                  ./img/projects/prj-mob3@2x-min.jpg   622w,
                  ./img/projects/prj-tab-desc3.jpg     614w,
                  ./img/projects/prj-tab-desc3@2x.jpg 1228w
                "
                sizes="(min-width: 1440px) 614px, (min-width: 320px) 311px"
                src="./img/projects/prj-mob3-min.jpg"
                alt="Book App"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="nav-buttons-style">
        <button
          type="button"
          class="previous-project-button swiper-button-prev1"
        >
          <svg class="previous-arrow" width="24" height="24">
            <use href="../img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="next-project-button swiper-button-next1">
          <svg class="next-arrow" width="24" height="24">
            <use href="../img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
