<section class="section section-projects">
  <div class="container">
    <h5 class="projects-title">projects</h5>
    <div class="slide1">
      <div class="left-block">
        <ul class="instruments-list">
          <li class="instruments-list-item">#react</li>
          <li class="instruments-list-item">#js</li>
          <li class="instruments-list-item">#node js</li>
          <li class="instruments-list-item">#git</li>
        </ul>
        <h3 class="left-block-title">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>
        <a
          target="_blank"
          href="https://github.com/Iryna-Pavlyk/AmazinG_8"
          class="see-project-link"
          >See project</a
        >
      </div>
      <div class="right-block">
        <img
          src="../img/projects/image1.jpg"
          alt="project"
          class="right-block-img"
        />
        <!-- <img
          srcset="
            ./img/projects/image1.jpg                     288w,
            ./images/portfolio/banking-app-mobile@2x.jpg  576w,
            ./images/portfolio/banking-app-tablet.jpg     356w,
            ./images/portfolio/banking-app-tablet@2x.jpg  712w,
            ./images/portfolio/banking-app-desktop.jpg    360w,
            ./images/portfolio/banking-app-desktop@2x.jpg 720w
          "
          sizes="(min-width: 1158px) 360px, (min-width: 768px) 356px, (min-width: 320px) 288px"
          src="./images/portfolio/banking-app-mobile.jpg"
          alt="Banking App"
        /> -->
      </div>
    </div>
    <div class="nav-buttons-style">
      <button type="button" class="previous-project-button">
        <svg class="previous-arrow" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="next-project-button">
        <svg class="next-arrow" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
