<section id="reviews"
class="reviews-section section">
<div class="container-review container">
<h3 class="reviews-title">Reviews</h3>
<div class="swiper-container">
<div class="swiper-wrapper" id="reviewsList">
<ul class="swiper-list"></ul>
    </div>
     
     <div class="nav-buttons-style">
      <button type="button" class="previous-reviews-button">
        <svg class="previous-arrow" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="next-reviews-button">
        <svg class="next-arrow" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>

    <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
     </div>
</div> -->

</section>