<section class="section sect-work-together" id="work-together">

    <!-- Title -->
    <div class="container container-sect-work">
        <div class="title-work-container">
            <picture>
                <source media="(min-width: 768px)"
                    srcset="./img/work/work-tab-desc-min.png 1x, ./img/work/work-tab-desc@2x-min.png 2x" width="70" />
                <source media="(max-width: 767px)"
                    srcset="./img/work/work-mob-min.png 1x, ./img/work/work-mob@2x-min.png 2x" width="44" />
                <img class="img-sect-work" src="./img/work/work-mob-min.png" alt="jferson" width="44" height="44">
            </picture>

            <h2 class="title-sect-work">let`s<span class="span-sect-work">work</span></h2>
            <h2 class="title-sect-work">together</h2>
        </div>
        <!-- /Title -->

        <!-- Form -->
        <form class="form-sect-work">
            <div class="container-input-email">
                <input class="input-sect-work" type="email" name="email_work" placeholder="clients@gmail.com"
                    pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required autocomplete="off">
                <p class="input-email-text">Success!</p>
                <p class="input-email-text2">Invalid email, try again</p>
            </div>
            <input class="input-sect-work" type="text" name="message_work" placeholder="comments" autocomplete="off">
            <button class="btn-sect-work" type="submit">send</button>
        </form>
        <!-- Form -->

        <!-- Address -->
        <div class="address-work-container">
            <address class="email-sect-work address-sect-work"><a class="email-link-work"
                    href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></address>
            <address class="tel-sect-work address-sect-work"><a class="tel-link-work" href="tel:+380111111111">+380 11
                    111 11 11</a></address>
        </div>
        <!-- /Address -->
    </div>

    <!-- Modal -->
    <div class="backdrop-sect-work">
        <div class="modal-sect-work">
            <button class="btn-close-work" type="button"><svg class="backdrop-close-icon" width="22" height="22">
                    <use href="./img/sprite.svg#icon-close"></use>
                </svg></button>
            <h3 class="modal-title-work">Thank you for your interest in cooperation!</h3>
            <p class="modal-text-work">The manager will contact you shortly to discuss further details and opportunities
                for cooperation. Please stay in touch.</p>
        </div>
    </div>
    <!-- /Modal -->

</section>