/* +++++++ ABOUT MOBILE SECTION +++++++*/
.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.container-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.container-title-text {
  display: flex;
  justify-content: center;
  border-radius: 24px;
  width: 343px;
  height: 500px;
  background-color: #242527;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
}
.header-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.functional {
  color: #ed3b44;
}
.websites {
  color: rgba(250, 250, 250, 0.4);
}
.about-image {
  border-radius: 24px;
  width: 343px;
  height: 500px;
}

/* Общие стили для заголовка раздела, кнопок и текста внутри аккордеона */
.about-section .ac-trigger.btn-text-about,
.about-section .ac .ac-panel .ac-text {
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 1);
}
/* Стили для кнопок аккордеона*/
.about-section .ac-trigger.btn-text-about {
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  font-size: 20px;
}

/* Стили стрелок в кнопках аккордеона */
.about-arrow {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
  transform: rotate(-180deg);
}

.ac-trigger .about-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* Стиль для контейнера аккордеона, установка прозрачного фона */
.about-section .ac {
  background-color: transparent;
  border: none; /* Убираем общую границу */
}

.accordion-container-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Стили псевдоэлементов и интерактивных состояний */

.about-section .ac::after {
  content: '';
  display: block;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.2);
  width: 100%;
  margin-top: 32px;
}

.accordion-container-about li {
  margin-top: 0px;
}

.about-section .accordion-container-about .btn-text-about {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
/* swipers styles */
.about-swiper-container {
  width: 100%;
  height: auto;
}
.about-swiper-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}
.about-section .about-swiper-items {
  display: flex;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 130px;
  height: 130px;
  border-radius: 50%;
}
.swiper-slide-active {
  background-color: #ed3b44;
  transition: 0.3s all linear;
}

.next-about-button,
.previous-about-button {
  position: relative;
  width: 52px;
  height: 52px;
  background-color: #1c1d20;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  font-size: 16px;
  color: white;
  padding: 14px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  margin-top: 32px;
}

.previous-about-button {
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.next-about-button:hover,
.previous-about-button:hover {
  transition-duration: 0.3s all linear;
  background-color: #ed3b44;
}

.next-about-button:after,
.previous-about-button::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.next-about-button:active:after,
.previous-about-button:active::after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.next-about-button:active,
.previous-about-button:active {
  top: 1px;
}
.about-swiper-container {
  position: relative;
}
.about-swiper-container .swiper-button-prev {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.about-swiper-container .swiper-button-next {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
/* ======= /ABOUT MOBILE SECTION ======= */
