/* +++++++ ABOUT MOBILE SECTION +++++++*/
.about-section {
  padding-top: 64px;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 0;
}

.about-container-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.about-container-title-text {
  display: flex;
  justify-content: center;
  border-radius: 24px;
  width: 343px;
  height: 500px;
  background-color: #242527;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
}
.about-header-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.functional {
  color: #ed3b44;
}
.websites {
  color: rgba(250, 250, 250, 0.4);
}
.about-image {
  border-radius: 24px;
  width: 343px;
  height: 500px;
}

/* Общие стили для заголовка раздела, кнопок и текста внутри аккордеона */
.about-section .ac-trigger.about-text-btn,
.about-section .ac .ac-panel .ac-text {
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 1);
}
.about-section .ac .ac-panel {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
/* Стили для кнопок аккордеона*/
.about-section .ac-trigger.about-text-btn {
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  font-size: 20px;
}

/* Стили стрелок в кнопках аккордеона */
.about-arrow {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
  transform: rotate(-180deg);
}

.ac-trigger .about-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* Стиль для контейнера аккордеона, установка прозрачного фона */
.about-section .ac {
  background-color: transparent;
  border: none; /* Убираем общую границу */
}

.accordion-container-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Стили псевдоэлементов и интерактивных состояний */

.about-section .ac::after {
  content: '';
  display: block;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.2);
  width: 100%;
  margin-top: 32px;
}

.accordion-container-about li {
  margin-top: 0px;
}

.about-section .accordion-container-about .about-text-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

/* swipers styles */

.about-section .about-swiper-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.about-swiper-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}
.about-section .about-swiper-items {
  display: flex;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: 0.3s all linear;
  min-width: 0;
}
.about-section .about-swiper-items:hover {
  border: 1px solid #ed3b44;
}
.about-slide-active {
  background-color: #ed3b44;
  transition: 0.3s all linear;
}

.about-button-next {
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1d20;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.about-button-next:hover {
  transition-duration: 0.3s all linear;
  background-color: #ed3b44;
}

.about-button-next:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.about-button-next:active:after {
  box-shadow: 0 0 0 0 white;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.about-section .about-next-arrow {
  stroke: #3b3b3b;
}

.about-swipper-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 55px;
}

/* ======= /ABOUT MOBILE SECTION ======= */

/* +++++++ ABOUT MOBILE SECTION (max-width: 374px)+++++++*/

@media screen and (max-width: 374px) {
  .about-swipper-wrapper {
    gap: 15px;
  }
  .about-container-title-text {
    width: 100%;
  }
}

/* ======= /ABOUT MOBILE SECTION (max-width: 374px) ======= */

/* +++++++ ABOUT TABLET SECTION (min-width: 768px)+++++++*/
@media screen and (min-width: 768px) {
  .about-wrapper {
    gap: 64px;
  }

  .about-container-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .about-container-title-text {
    width: 704px;
    height: 700px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 64px;
  }
  .about-header-title {
    font-size: 38px;
    line-height: 1.05263;
  }

  .about-image {
    width: 704px;
    height: 700px;
  }

  .about-section .ac .ac-panel {
    gap: 16px;
  }

  .about-section .ac-trigger.about-text-btn {
    font-size: 16px;
  }
  .about-arrow {
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .about-section .about-swiper-items {
    width: 200px;
    height: 200px;
  }

  .about-swipper-wrapper {
    gap: 64px;
  }
  .about-button-next {
    width: 40px;
    height: 40px;
  }
}
/* ======= /ABOUT TABLET SECTION (min-width: 768px)======= */

/* +++++++ ABOUT DESKTOP SECTION (min-width: 1440px)+++++++*/
@media screen and (min-width: 1440px) {
  .about-section {
    margin-top: 96px;
  }
  .about-container-title {
    flex-direction: row;
  }

  .about-image {
    width: 680px;
    height: 700px;
  }

  .about-section .ac .ac-panel {
    width: 612px;
    gap: 32px;
    margin-right: 68px;
    margin-left: auto;
  }
  .about-wrapper {
    gap: 64px;
  }

  .about-swipper-wrapper {
    gap: 72px;
  }
}
/* ======= /ABOUT DESKTOP SECTION (min-width: 1440px)======= */
