.container-benefits {
  width: 344px;
  height: 1128px;
}

.benefits-title {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.benefits-list {
  margin-top: 32px;
}

.benefits-list-head {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #FAFAFA;
}

.btn-benefits {
	margin-top: 32px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  /* width: 187px;
  height: 55px; */
}

.btn-order {
  font-family: rgba(250, 250, 250, 0.6);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}
