.my-covers {
  height: 100%;
  margin: 0;
  padding: 0;
}
.covers-second {
  background-image: url('..//img/covers/ellipse.png');
  background-position: right;
  
}

.covers-item {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.covers-item .my-covers-item-img {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
  margin-bottom: 20px;
  border-radius: 5%; 
  width: 100%;
  height: auto; 
}


@media screen and (min-width: 768px) {
  .covers-item:hover .my-covers-item-img {
    transform: scale(1); 
  }
}

.covers-item:nth-child(odd) .my-covers-item-img {
  filter: grayscale(100%);
}

.covers-item:nth-child(even) .my-covers-item-img {
  filter: none;
}

.covers-list {
  margin-right: 20px;
}

.covers-item {
  will-change: transform, opacity;
}

@media screen and (scroll-animations: none) {
  .covers-item {
    will-change: auto;
  }
}

@keyframes slideInFromBottomRight {
  from {
    transform: skewY(10deg) translateX(100%) translateY(100%) rotate(-30deg);
    opacity: 0;

  }
  to {
    transform: none;
    opacity: 1;
    width: auto;
  }
}

#covers.animation-active .covers-item .my-covers-item-img {
  animation-duration: 5s;
}

@media screen and (max-width: 767px) {
  
  .covers-item .my-covers-item-img {
    transform: none;
    opacity: 1;
    transition: none;
    width: 100%;
    height: auto;
  }
  .covers-list {
    margin-right: 15px;
  }
  .covers-item .my-covers-item-img {
    width: 282px;
    height: auto; 
  }
}

@media screen and (min-width: 768px) {
  .covers-second {
    background-image: 
    url('../img/covers/ellipse@2x.png'),
    url('../img/covers/ellipse@2x.png');
    background-position: top left, bottom;
    background-repeat: repeat-x;
   

  }
  .covers-item .my-covers-item-img {
    width: 544px;
    height: auto;
  
  }
}

@media screen and (min-width: 1440px) {
  .covers-second {
    padding: 0;
    background-image: 
      url('../img/covers/ellipse@2x.png'), 
      url('../img/covers/ellipse@2x.png'); 

    background-position: left center, center, right center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
}