
.covers-second {
  padding: 0;
}

.covers-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.covers-item .my-covers-item-img {
  height: auto;
  opacity: 0;
  transform: scale(0.5); 
  transition: transform 0.5s ease, opacity 0.5s ease; 
  margin-bottom: 20px; 
}

.covers-item:hover .my-covers-item-img {
  transform: scale(1); 
  opacity: 1; 
}

.covers-item:nth-child(odd) .my-covers-item-img {
  filter: grayscale(100%); 
}

.covers-item:nth-child(even) .my-covers-item-img {
  filter: none; 
}

.covers-list {
  margin-right: 20px;
}

@keyframes slideInFromBottomRight {
  from {
    transform: skewY(10deg) translateX(100%) translateY(100%) rotate(-30deg);
    opacity: 0;
    width: 282px;
  }
  to {
    transform: none; 
    opacity: 1;
    width: auto; 
  }
}

#covers.animation-active .covers-item .my-covers-item-img {
  animation-duration: 5s; 
}

@media screen and (max-width: 767px) {
  .covers-second {
    background-image: url('..//img/covers/ellipse.png');
    background-position: right, bottom; 
  }
 

  .covers-item .my-covers-item-img {
    width: 282px; 
    transform: none;
    opacity: 1; 
    animation: none; 
  }
  .covers-list {
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .covers-second {
    background-image: url('../img/covers/ellipse.png');
    background-position: left,  center, bottom; 
    background-repeat: repeat;
   
  }
  .covers-second::before {
   
    background-image: url('../img/covers/ellipse.png');
    background-repeat: repeat;
  } 
   
  .my-covers-item-img {
    width: 544px; 
  }
}

@media screen and (min-width: 1440px) {
  .covers-second {
    background-image: url('..//img/covers/ellipse@2x.png');
    background-position: left, center, bottom;
    background-repeat: repeat;
   
  
  }
  .covers-second::before {
    background-image: url('..//img/covers/ellipse@2x.png');
    background-repeat: repeat;
  } 
  .covers-item {
    margin-right: 20px;
  }
}