body {
  background-color: rgba(28, 32, 28, 1);
}
.ac .ac-panel .ac-text {
  font: 15px / 24px Arial, sans-serif;
  color: white;
  padding: 8px;
  margin: 0;
}
#text-faq {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

#li-fag-1,
#li-fag-2,
#li-fag-3,
#li-fag-4,
#li-fag-5,
#li-fag-6 {
  background-color: transparent;
}

#btn-text-fag-1,
#btn-text-fag-2,
#btn-text-fag-3,
#btn-text-fag-4,
#btn-text-fag-5,
#btn-text-fag-6 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 1);
}

.ac,
.ac-trigger {
  border: 1px solid #ccc;
  color: #333;
}

.arrow {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
}

.ac-trigger .arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.ac-trigger .arrow.down {
  display: block;
}

.ac-trigger .arrow.up {
  display: none;
}

.is-active .ac-trigger .arrow.down {
  display: none;
}

.is-active .ac-trigger .arrow.up {
  display: block;
}

.ac-trigger:after {
  display: none;
}
.ac .ac-header {
  border: 100px;
}
