/* Общие стили для раздела FAQ */
.title-faq {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

/* Стили контейнера аккордеона */
.faq-section .accordion-container {
  position: relative;
}

.faq-section .ac {
  background-color: transparent; /* Прозрачный фон для контейнеров аккордеона */
  border: none; /* Убираем общую границу */
}

/* Стили для кнопок аккордеона */
.faq-section .ac-trigger.btn-text-faq {
  font-weight: 600;
  font-size: 20px;
  color: rgba(250, 250, 250, 1);
  position: relative; /* Для корректного позиционирования псевдоэлемента */
  padding-top: 10px; /* Отступ сверху для кнопки, чтобы полоса не перекрывала текст */
  line-height: 150%;
  letter-spacing: -0.02em;
}

/* Стили текста внутри аккордеона */
.faq-section .ac .ac-panel .ac-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

/* Стили стрелок в кнопках аккордеона */
.arrow {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
}

.ac-trigger .arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Управление отображением стрелок */
.ac-trigger .arrow-down,
.is-active .ac-trigger .arrow-up {
  display: block;
}

.ac-trigger .arrow-up,
.is-active .ac-trigger .arrow-down {
  display: none;
}

/* Стили псевдоэлементов и интерактивных состояний */
.faq-section .ac-trigger.btn-text-faq:before,
.faq-section .accordion-container::after {
  content: '';
  display: block;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.2);
  width: 100%;
  position: absolute;
  left: 0;
}

.faq-section .ac-trigger.btn-text-faq:before {
  top: 0;
}

.faq-section .accordion-container::after {
  bottom: -11px;
}

.faq-section .accordion-container > li:last-child {
  margin-bottom: 10px;
}

.faq-section .ac-trigger.btn-text-faq:focus {
  color: rgba(250, 250, 250, 1);
  outline: none;
}

.ac-trigger:after {
  display: none;
}
