.section-hero {
    padding: 281px 16px 32px 16px;
    background-image: url(../img/hero-bg/hero-bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-container {
    margin: 0 auto;
    max-width: 343px;
}
.hero__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    padding-bottom: 212px;
}
.hero__social-links-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}
.hero__social-links-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    min-width: 37px;
    height: 37px;
    border-radius: 60px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
}
.hero__social-link {
    text-transform: uppercase;
}
.hero__email-item {
    padding-left: 12px;
    padding-right: 12px;
}
.hero__address {
    font-style: normal;
}

@media screen and (min-width: 768px) {
    .section-hero {
        padding: 300px 32px 32px 32px;
    }
    .hero__title {
        font-size: 90px;
    }
    .hero__social-links-list {
        gap: 8px;
    }
    .hero__social-links-item {
        font-size: 16px;
        min-width: 55px;
        height: 55px;
    }
    .hero__email-item {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1399px) {
    .section-hero {
        background-image: url(../img/hero-bg/hero-bg-tablet.png);
    }
    .hero-container {
        max-width: 704px;
    }
}
@media screen and (min-width: 1440px) {
    .section-hero {
        background-image: url(../img/hero-bg/hero.png);
    }
    .hero-container {
        max-width: 1376px;
    }
}