/* Custom scroll bar */
html::-webkit-scrollbar {
    width: 8px;
    background: #1c1d20;
}

html::-webkit-scrollbar-thumb {
    background: #ed3b44;
    border-radius: 80px;
}

.reviews-section {
  background: #1c1d20;
}

.reviews-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  margin-bottom: 32px;
}

#swiper-container-style {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#swiper-slide {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  transition: box-shadow 500ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}


#swiper-slide:hover {
  transform: scale(1.02);
  box-shadow: inset 0px 0px 10px 5px rgba(237, 59, 68, 0.5);
}

.review-img-js {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.author-review-js {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 10px;
}

.text-review-js {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  width: 295px;
  height: 158px;
  overflow-wrap: break-word;
}

.next-reviews-button,
.previous-reviews-button {
  position: relative;
  width: 52px;
  height: 52px;
  background-color: #1c1d20;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  font-size: 16px;
  color: white;
  padding: 14px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  margin-top: 32px;
}

.next-reviews-button:hover,
.previous-reviews-button:hover {
  transition-duration: 0.3s all linear;
  background-color: #ed3b44;
}

.next-reviews-button::after,
.previous-reviews-button::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.next-reviews-button:active:after,
.previous-reviews-button:active::after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.next-reviews-button:active,
.previous-reviews-button:active {
  top: 1px;
}

.next-reviews-button[disabled],
.previous-reviews-button[disabled] {
    border: 1px solid rgba(250, 250, 250, 0.2);
}

.previous-reviews-button[disabled] .previous-arrow,
.next-reviews-button[disabled] .next-arrow {
  stroke: #3B3B3B;
}

.previous-arrow,
.next-arrow {
  stroke: #fafafa;
}
