.sect-work-together {
  padding: 32px 0;
  background-image: url('../img/work/element-min.png');
  background-position: 570px 0;
  background-repeat: no-repeat;
}

/* Title */

.title-work-container {
  margin-bottom: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.img-sect-work {
  margin-right: 8px;
  margin-bottom: 4px;
}

.title-sect-work {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.span-sect-work {
  color: #ed3b44;
  margin-left: 10px;
}

/* /Title */

/* Form */

.form-sect-work {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-sect-work {
  width: 100%;
  display: block;
  background: transparent;
  padding: 0 0 20px 0;
  letter-spacing: -0.02em;
  border-bottom: solid 1px rgba(250, 250, 250, 0.2);
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  color: currentColor;

  white-space: nowrap; /* Забороняємо перенос тексту на новий рядок */
  overflow: hidden; /* Приховуємо все, що виходить за межі поля вводу */
  text-overflow: ellipsis; /* Відображаємо "..." для тексту, який не поміщається */
}

/* For JS */

.input-email-text {
  color: #3cbc81;
  display: none;
  margin-top: 2px;
}

.input-email-text2 {
  color: #e74a3b;
  display: none;
  margin-top: 2px;
}

.input-email-red {
  border-bottom: solid 1px #e74a3b;
}

.input-email-green {
  border-bottom: solid 1px #3cbc81;
}

/* For JS */

.btn-sect-work {
  margin-top: 16px;
  border: none;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 0;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  margin-bottom: 64px;
  color: currentColor;
  background-color: #ed3b44;
}

::placeholder {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

/* /Form */

/* Address */

.address-work-container {
  display: flex;
  gap: 4px;
}

.address-sect-work {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 178px;
  height: 37px;
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  letter-spacing: -0.02em;
}

/* /Address */

/* Media screen*/

/* Tablet */

@media screen and (min-width: 768px) {
  .sect-work-together {
    padding-top: 88px;
    padding-bottom: 169px;
  }
  .title-work-container {
    width: 542px;
    margin-bottom: 54px;
  }
  .title-sect-work {
    font-size: 64px;
    margin-bottom: 10px;
  }
  .img-sect-work {
    margin-right: 20px;
    margin-bottom: 7px;
  }
  .input-sect-work {
    width: 245px;
    height: 44px;
  }
  .container-input-email {
    margin-bottom: 78px;
  }
  .form-sect-work {
    flex-direction: row;
    gap: 32px;
    align-items: baseline;
  }
  .btn-sect-work {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }
  .address-work-container {
    gap: 8px;
  }
  .address-sect-work {
    padding: 18px 32px;
    font-size: 16px;
  }
  .email-sect-work {
    width: 239px;
    height: 55px;
  }
  .tel-sect-work {
    width: 171px;
    height: 55px;
  }
}

/* /Tablet */

/* Desctop */

@media screen and (min-width: 1440px) {
  .sect-work-together {
    background-position: 1040px 0;
  }
  .container-sect-work {
    padding-left: 196px;
  }
  .input-sect-work {
    width: 390px;
  }
  .btn-sect-work {
    margin-left: 54px;
  }
}

/* /Desctop */

/* /Media screen*/

/* Modal */

.backdrop-sect-work {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 16, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-sect-work.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-sect-work {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 343px;
  min-height: 276px;
  padding: 64px 32px;
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #1c1d20;
}

.btn-close-work {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 22px;
  height: 22px;
  stroke: #fafafa;
  background-color: #1c1d20;
}

.backdrop-close-icon {
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title-work {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-text-work {
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

/* /Modal */
